@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

/*--- Mixin ---*/

@mixin flex-between(){
  display: flex;
  justify-content: space-between;
}

@mixin button(){
  border-radius: 4px;
  display: block;
  width: 160px;
  height: 50px;
  font-size: 14px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Sans Pro";
  text-align: center;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}

@mixin links(){
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

@mixin line(){
  content: '';
  width: 20px;
  height: 2px;
  position: absolute;
  left: 50%;
  background-color: $myBlue;
}

/*--- Mixin ---*/

/*--- Variable ---*/

$myBlue: #008ed6;

$greyText: #999;

$blackText: #1a1a1a;

$greyBack1: #f2f2f2;

$greyBack2: #ededed;

$forBorder: #e0e0e0;

$borderBtnInput: rgba(255,255,255,0.2);

$blackDiv: #15141a;

/*--- Variable ---*/

/*---General classes---*/

div,span,a,h1,h2,h3,h4,h5,p,ul,li,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  max-width: 1170px;
  padding: 0;
}

h1{
  margin-top: 20px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
}

h2{
  font-size: 14px;
  letter-spacing: 1.4px;
  color: $myBlue;
  font-weight: 700;
  text-transform: uppercase;
}

h3{
  padding-top: 10px;
  font-size: 36px;
  letter-spacing: normal;
  color: $blackText;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

h4{
  font-size: 24px;
  font-size: 24px;
  line-height: 20px;
  color: $blackText;
  font-weight: 400;
}

p{
  font-size: 18px;
  line-height: 26px;
  color: $greyText;
  font-weight: 400;
}

.btn-filled{
  @include button();
  filter: drop-shadow(0 0 1.5px rgba(3,3,3,0.1));
  background-color: $myBlue;
  padding-top: 1px;
}

.btn-empty{
  @include button();
  margin-left: 20px;
  background-color: rgba(0,142,214,0);
  border: 1px solid $borderBtnInput;
}

.title-center{
  text-align: center;
}

.link{
  display: block;
  top: -150px;
  position: relative;
  visibility: hidden;
}

// Підкреслення псевдокласами
.lines{
  &:after{
    @include line();
    bottom: -36px;
    transform: translate(-20px, 0);
  }
  &:before{
    @include line();
    bottom: -36px;
    transform: translate(2px, 0);
  }
}

.title{
  position: relative;
  h2,h3{
    text-align: left;
  }
  .lines{
    &:after{
      left: 0;
      bottom: -36px;
      transform: translate(23px, 0);
    }
    &:before{
      left: 0;
      bottom: -36px;
    }
  }
}

.burger{
  display: none;
}

/*---General classes---*/

/*--- HEADER ---*/

.header{
  background-color: $blackDiv;
  height: 640px;
  overflow: hidden;
  background-image: url("../img/photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  .lines{
    &:before{
      bottom: -10px;
      transform: translate(-21px, 0);
    }
    &:after{
      bottom: -10px;
      transform: translate(1px, 0);
    }
  }
  .descript{
    margin-top: 24px;
    width: 85%
  }
  h1{
    span{

    }

  }
  h2{
    letter-spacing: 0.1em;
  }
}

.top-fix{
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
}

.top{
  padding: 19px 0;
  @include flex-between();
  width: 100%;
}

.logo{
  margin-left: 1px;
  margin-top: 2px;
  display: flex;
  justify-content: left;
  align-items: center;
  p{
    margin-left: 6px;
    padding-top: 3px;
    display: block;
    width: 50px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 9px;
    font-weight: 600;
    letter-spacing: 1.4px;
  }
}

.logo-text{
  display: block;
  font-family: 'Quicksand';
  font-size: 24px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.6px;
}

.main-content{
  padding-top: 98px;
  @include flex-between();
}

.main-navigation{
  display: flex;
  margin-left: 41px;
  li{
    display: block;
    margin-right: 23px;
    a{
      @include links();
      line-height: 58px;
      position: relative;
      &:after{
        visibility: hidden;
      }
      &:before{
        visibility: hidden;
      }
      &:hover{
        text-decoration: none;
        &:after{
          visibility: visible;
        }
        &:before{
          visibility: visible;
        }
      }

    }
  }
}

.left{
  padding-top: 61px;
  padding-left: 15px;
}

.buttons{
  margin-top: 60px;
  display: flex;
}

.phone{
  padding-top: 23px;
  padding-left: 93px;
}

/*---HEADER--*/

/*---SECTION OVERVIEW---*/

.overview{
  padding-top: 62px;
  padding-bottom: 71px;
  border-bottom: 1px solid $greyBack2;
  h3{
    letter-spacing: 0.1px;
  }
  .lines{
    &:before{
      transform: translate(1px, 0);
    }
    &:after{
      transform: translate(-21px, 0);
    }
  }
  .descript{
    margin-top: 24px;
    width: 85%
  }
}

.list{
  padding-top: 110px;
}

.feature{
  display: flex;
  flex-direction: column;
  .circl-icn{
    margin: 0 auto;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffffff;
    border: 1px solid $forBorder;
    position: relative;
    img{
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  .descript{
    text-align: center;
    margin: 0 auto;
    padding-top: 33px;
    width:90%;
    p{
      padding-top: 15px;
    }
  }
}

/*---SECTION OVERVIEW---*/

/*---SECTION DETAILS---*/

.details {
  padding-top: 66px;
  padding-bottom: 19px;
  img {
    margin-left: 20px;
  }

  .left {
    padding-top: 50px;
    padding-left: 15px;
  }
  .lines{
    &:before{
      bottom: -27px;
      transform: translate(22px, 0);
    }
    &:after{
      bottom: -27px;
      transform: translate(0, 0);
    }
  }
  .descript{
    padding-top: 51px;
    width:85%;
  }
}

.non{
  letter-spacing: 1.1px;
}

.mauris{
  letter-spacing: 0.1px;
}

.erat{
  letter-spacing: 0.6px;
}

.erat{
  letter-spacing: 0.1px;
}


.special{
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #1b1b1b;
  font-weight: 400;
  list-style-position: inside;
  li{
    list-style-type: none;
    padding-bottom: 6px;
  }
}
.design{
  &:before{
    padding-right: 9px;
    position: relative;
    top: 2px;
    content:url("../img/icons/Cup.png");
  }
}
.resp{
  &:before{
    padding-right: 15px;
    position: relative;
    top: 2px;
    left: 3px;
    content:url("../img/icons/Mouse.png");
  }
}
.retina{
  &:before{
    padding-right: 15px;
    position: relative;
    top: 2px;
    left: 3px;
    content:url("../img/icons/Energy.png");
  }
}
.tons{
  &:before{
    padding-right: 9px;
    position: relative;
    top: 2px;
    content:url("../img/icons/Speedomet.png");
  }
}

/*---SECTION DETAILS---*/

.details-sec {
  padding-top: 66px;
  padding-bottom: 163px;
  background-color: $greyBack1;
  .left{
    padding-top: 63px;
  }
  .lines {
    &:before {
      bottom: -29px;
      transform: translate(22px, 0);
    }

    &:after {
      bottom: -29px;
      transform: translate(0, 0);
    }
  }
  .descript {
    padding-top: 51px;
    width: 85%;
  }
}
.forImage{
  position: relative;
  img{
    position: absolute;
    top: -33px;
    right: -4px;
  }
}

/*---SECTION DETAILS-SEC---*/

/*---SECTION PLANS---*/

.plans{
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: $blackDiv;
  background-image: url("../img/Warstwa 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  h3,p{
    color: #fff;
  }
  .lines{
    &:before{
      bottom: -30px;
      transform: translate(1px, 0);
    }
    &:after{
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
}

.slider{
  padding-top: 115px;
  overflow: hidden;
}

.slick-track{
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 129px;
  margin-left: 22px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  margin-right: 21px;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0);
  border: 1px solid $borderBtnInput;
  padding: 0;
  border-radius: 50%;
}

.slick-active button {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #fff;
}

.slide{
  display: flex;
  flex-direction: column;
}

.descrip-slide{
  padding-left: 13px;
  width:95%;
  font-size: 24px;
  line-height: 32.7px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.03px;
}

.author{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  img{
    margin-top: 13px;
    border-radius: 50%;
  }
  p{
    padding-top: 11px;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 400;
    span{
      display: block;
      font-size: 14px;
      line-height: 26px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: -0.1px;
    }
  }
}
/*---SECTION PLANS---*/

/*---SECTION NOW---*/

.now{
  padding-bottom: 60px;
  background-color: $blackDiv;
  p{
    padding-top: 53px;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 0.22px;
    span{
      letter-spacing: 0.1px;
      font-weight: 600;
    }
  }
  .row{
    align-items: center;
  }
  .col-8{
    padding-left: 14px;
  }
  .buttons{
    margin-top: 59px;
    padding-left: 25px;
  }
  .btn-empty{
    margin-right: 20px;

  }
}

/*---SECTION NOW---*/

/*---SECTION PLANS-SEC---*/

.plans-sec{
  padding-top: 57px;
  padding-bottom: 60px;
  .lines{
    &:before{
      bottom: -30px;
      transform: translate(1px, 0);
    }
    &:after{
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
  .descript{
    padding-top: 45px;
    padding-left: 6px;
    width: 75%;
    margin: 0 auto;
    span{
      color: $myBlue;
    }
  }
  .btn-empty{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-right: 1px;
    height: 52px;
    width: 162px;
    border-color: $forBorder;
    color: $myBlue;

  }
}

.fir{
  margin: 0 -1px 0 -1px;
  .descript{
    padding-left: 0;
  }
}

.sec{
  margin: 0 0 0 -2px;
}

.thi{
  margin: 0 0 0 -2px;
}

.four{
  margin: 0 0 0 -2px;
}


.price{
  padding-top: 100px;
}

.price-item{
  padding: 0;
  padding-bottom: 28px;
  border: 1px solid $forBorder;
  text-align: center;
}

.type{
  padding-top: 27px;
  padding-bottom: 22px;
  h4{
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.6px;
  }
}

.expensive {
  padding-bottom: 32px;
  border-top: 1px solid $forBorder;
  border-bottom: 1px solid $forBorder;
}

.cost{
  padding-top: 48px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.dollar{
  display: block;
  font-size: 28px;
  line-height: 12px;
}
.number{
  padding-right: 6px;
  display: block;
  align-self: center;
  font-size: 60px;
  line-height: 28px;
  color: $blackText;
  font-weight: 600;
}

/*---SECTION PLANS-SEC---*/

/*---SECTION TOUCH---*/

.touch {
  padding-top: 57px;
  padding-bottom: 4px;
  background-color: $greyBack2;
  .lines {
    &:before {
      bottom: -30px;
      transform: translate(1px, 0);
    }

    &:after {
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
  .col-8{
    margin: 0 auto;
  }
}

.contacts{
  padding-top: 89px;
}

.contacts-item{
  img{
    display: block;
    margin: 0 auto 26px auto;
  }
  p{
    display: block;
    text-align: center;
    line-height: 26px;
    span{
      display: block;
    }
  }
}

.cont-ph{
  img{
    margin: 0 auto 26px auto;
  }
  p{
    margin-left: -3px;
  }
}

.post{
  padding-top: 5px;
  img{
    margin-bottom: 31px;
    position: relative;
    left: -1px;
  }
}

.form{
  margin: 0 auto;
}


.feedback{
  margin: 0 auto;
  padding: 59px 85px 40px 66px;
  position: relative;
  top: 69px;
  display: flex;
  justify-content: space-between;
  background-color: $blackDiv;
   .btn-filled{
     padding-top: 0;
     margin-left: auto;
     border: none;
   }
}

.personal{
  width:300px;
}

.message{
  padding-left: 19px;
  width: 320px;
  .form-item{
    padding-top: 15px;
    height: 190px;
    resize: none;
    padding-left: 19px;
    line-height: normal;
  }
}

.form-item{
  margin-bottom: 20px;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  background-color: rgba(0,142,214,0);
  border: 1px solid $borderBtnInput;
  border-radius: 4px;
  font-size: 14px;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  &::placeholder{
    opacity: 0.2;
  }
}

/*---SECTION TOUCH---*/

/*---SECTION MAP---*/
/*---SECTION MAP---*/

/*---FOOTER---*/

.footer{
  padding-top: 55px;
  background-color: $blackDiv;
  p{
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 48px;
    color: #444348;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  i {
    color: #444348;
    display: block;
    font-size: 18px;
    &:hover {
      color: $myBlue;
    }
  }
  .fa-behance{
    margin-left: -1px;
    margin-top: 1px;
  }

  .fa-dribbble{
    margin-left: -4px;
  }

  .fa-twitter{
    margin-left: -2px;
  }

  .fa-facebook-f{
    margin-left: 1px;
  }

  .fa-linkedin-in{
    margin-left: 2px;
    margin-right: -2px;
    font-size: 20px;
  }
}

.social{
  margin: 0 auto;
  padding-bottom: 10px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

/*---FOOTER---*/

/*---adaptive---*/

@media (max-width: 1200px) {
  .container{
    max-width: 90%;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .nav{
    width: 60%;
  }

  .logo{
    width: 150px;
  }
  .main-navigation{
    justify-content: end;
    &:last-child{
      margin-right: -23px;
    }
  }
  .phone{
    padding-left: 5%;
  }
  .details-sec {
    img {
      position: static;
    }
  }
  .now{
    .buttons{
      justify-content: end;

    }
  }
  .personal{
    margin: 0 auto;
    width: 80%;
  }
  .message{
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 992px) {
  img{
    max-width: 100%;
    height: auto;
  }
  .burger{
    display: block;
    position: relative;
    top: 12px;
    width: 42px;
    height: 32px;
    background-color: $blackDiv;
    border: solid 1px #000;
    box-shadow: 0 0 2px 2px rgba(255,255,255,0.1);
    span{
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 9px;
      top: 14px;
    }
    &:after,&:before{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left:9px;
    }
    &:before{
      top: 6px;
    }
    &:after{
      bottom: 6px;
    }
  }
  .background{
    height: 150px;
    background-color: $blackText;
  }
  .nav{
    display: none;
  }
  .active-menu{
    display: block;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
    }
  .main-navigation{
    justify-content: center;
    .lines{
      &:after{
        @include line();
        bottom: -5px;
      }
      &:before{
        @include line();
        bottom: -5px;
      }
    }
    &:last-child{
      margin: 0;
    }
  }
  .left{
    padding-top: 30px;
  }
  .header{
    .buttons{
      margin-top: 30px;
    }
  }
  .phone{
    padding-left: 0;
  }
  .feature{
    padding-bottom: 60px;
  }
  .details-sec{
    img{
      padding-top: 0;
      margin-top: 20%;
    }
    .left{
      padding-top: 0;
    }
  }
  .price{
    justify-content: space-around;
  }
  .price-item {
    margin-bottom: 20px;
    .descript{
      padding-left: 0;
    }
  }
  .descrip-slide{
    padding-left: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .author{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  img{
    max-width: 100%;
    height: auto;
  }
  .header{
    height: 100%;
    img{
      display: block;
      margin: 0 auto;
      max-width: 50%;
      height: auto;
    }
    .buttons{
      margin-bottom: 30px;
      justify-content: space-around;
    }
    h1,h2,p{
      text-align: center;
    }
    .descript{
      width: 100%;
    }
  }
  .main-content{
    flex-direction: column-reverse;
  }
  .descript{
    width:100%;
  }
  .details{
    .descript{
      display: flex;
      justify-content: space-around;
    }
    p{
      width: 50%;
    }
    .special{
      padding-top: 0;
      width: 40%
    }
  }
  .details-sec{
    padding-bottom: 50px;
    .descript{
      text-align: center;
    }
  }
  .details, .details-sec{
    h2,h3{
      text-align: center;
    }
    .lines{
      &:after{
        @include line();
        bottom: -27px;
        transform: translate(-20px, 0);
      }
      &:before{
        @include line();
        bottom: -27px;
        transform: translate(2px, 0);
      }
    }
    .descript{
      width: 100%;
    }
    img{
      max-width: 50%;
      margin: 0 auto;
      display: block;
    }
  }
  .contacts-item{
    padding-bottom: 15px;
  }
  .now{
    p{
      text-align: center;
    }
    .buttons{
      padding: 0;
      justify-content: space-around;
    }
    .btn-empty{
      width: 45%;
      margin: 0;
    }
    .btn-filled{
      width: 45%;
    }
  }
  .feedback{
    width: 100%;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
  .message{
    width: 80%;
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .top{
    padding: 0;
  }
  .background{
    height: 288px;
  }
  .main-navigation {
    flex-direction: column;
    li{
      margin: 0 auto;
      a{
        line-height: 30px;
      }
    }

  }
  .link{
    top:-100px;
  }
  .details{
    .descript{
      display: block;
      text-align: center;
    }
    p{
      width: 100%;
    }
    .special{
      padding-top: 20px;
      width: 100%;
    }
  }
  .slider{
    padding-top: 60px;
  }
  .slick-dots{
    margin-top: 60px;
  }
}
