
@media (min-width: 1441px){
  .plans {
    background-position: 0 0;
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .container{
    max-width: 90%;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .nav{
    width: 60%;
  }

  .logo{
    width: 150px;
  }
  .main-navigation{
    justify-content: end;
    &:last-child{
      margin-right: -23px;
    }
  }
  .phone{
    padding-left: 5%;
  }
  .details-sec {
    img {
      position: static;
    }
  }
  .now{
    .buttons{
      justify-content: end;

    }
  }
  .personal{
    margin: 0 auto;
    width: 80%;
  }
  .message{
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 992px) {
  img{
    max-width: 100%;
    height: auto;
  }
  .burger{
    display: block;
    position: relative;
    top: 12px;
    width: 42px;
    height: 32px;
    background-color: $blackDiv;
    border: solid 1px #000;
    box-shadow: 0 0 2px 2px rgba(255,255,255,0.1);
    span{
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 9px;
      top: 14px;
    }
    &:after,&:before{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 22px;
      height: 2px;
      left:9px;
    }
    &:before{
      top: 6px;
    }
    &:after{
      bottom: 6px;
    }
  }
  .background{
    height: 150px;
    background-color: $blackText;
  }
  .nav{
    display: none;
  }
  .active-menu{
    display: block;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
  }
  .main-navigation{
    justify-content: center;
    .lines{
      &:after{
        @include line();
        bottom: -5px;
      }
      &:before{
        @include line();
        bottom: -5px;
      }
    }
    &:last-child{
      margin: 0;
    }
  }
  .left{
    padding-top: 30px;
  }
  .header{
    .buttons{
      margin-top: 30px;
    }
  }
  .phone{
    padding-left: 0;
  }
  .feature{
    padding-bottom: 60px;
  }
  .details-sec{
    img{
      padding-top: 0;
      margin-top: 20%;
    }
    .left{
      padding-top: 0;
    }
  }
  .price{
    justify-content: space-around;
  }
  .price-item {
    margin-bottom: 20px;
    .descript{
      padding-left: 0;
    }
  }
  .descrip-slide{
    padding-left: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .author{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  img{
    max-width: 100%;
    height: auto;
  }
  .header{
    height: 100%;
    img{
      display: block;
      margin: 0 auto;
      max-width: 50%;
      height: auto;
    }
    .buttons{
      margin-bottom: 30px;
      justify-content: space-around;
    }
    h1,h2,p{
      text-align: center;
    }
    .descript{
      width: 100%;
    }
  }
  .main-content{
    flex-direction: column-reverse;
  }
  .descript{
    width:100%;
  }
  .details{
    .descript{
      display: flex;
      justify-content: space-around;
    }
    p{
      width: 50%;
    }
    .special{
      padding-top: 0;
      width: 40%
    }
  }
  .details-sec{
    padding-bottom: 50px;
    .descript{
      text-align: center;
    }
  }
  .details, .details-sec{
    h2,h3{
      text-align: center;
    }
    .lines{
      &:after{
        @include line();
        bottom: -27px;
        transform: translate(-20px, 0);
      }
      &:before{
        @include line();
        bottom: -27px;
        transform: translate(2px, 0);
      }
    }
    .descript{
      width: 100%;
    }
    img{
      max-width: 50%;
      margin: 0 auto;
      display: block;
    }
  }
  .contacts-item{
    padding-bottom: 15px;
  }
  .now{
    p{
      text-align: center;
    }
    .buttons{
      padding: 0;
      justify-content: space-around;
    }
    .btn-empty{
      width: 45%;
      margin: 0;
    }
    .btn-filled{
      width: 45%;
    }
  }
  .feedback{
    width: 100%;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
  .message{
    width: 80%;
    padding-left: 0;
  }
}


@media (max-width: 576px) {
  .top{
    padding: 0;
  }
  .background{
    height: 288px;
  }
  .main-navigation {
    flex-direction: column;
    li{
      margin: 0 auto;
      a{
        line-height: 30px;
      }
    }
  }
  .link{
    top:-100px;
  }
  .details{
    .descript{
      display: block;
      text-align: center;
    }
    p{
      width: 100%;
    }
    .special{
      padding-top: 20px;
      width: 100%;
    }
  }
  .slider{
    padding-top: 60px;
  }
  .slick-dots{
    margin-top: 60px;
  }
}
