
div,span,a,h1,h2,h3,h4,h5,p,ul,li,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  max-width: 1170px;
  padding: 0;
}

h1{
  margin-top: 20px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
}

h2{
  font-size: 14px;
  letter-spacing: 1.4px;
  color: $myBlue;
  font-weight: 700;
  text-transform: uppercase;
}

h3{
  padding-top: 10px;
  font-size: 36px;
  letter-spacing: normal;
  color: $blackText;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

h4{
  font-size: 24px;
  font-size: 24px;
  line-height: 20px;
  color: $blackText;
  font-weight: 400;
}

p{
  font-size: 18px;
  line-height: 26px;
  color: $greyText;
  font-weight: 400;
}

.btn-filled{
  @include button();
  filter: drop-shadow(0 0 1.5px rgba(3,3,3,0.1));
  background-color: $myBlue;
  padding-top: 1px;
}

.btn-empty{
  @include button();
  margin-left: 20px;
  background-color: rgba(0,142,214,0);
  border: 1px solid $borderBtnInput;
}

.title-center{
  text-align: center;
}

.link{
  display: block;
  top: -150px;
  position: relative;
  visibility: hidden;
}

// Підкреслення псевдокласами
.lines{
  &:after{
    @include line();
    bottom: -36px;
    transform: translate(-20px, 0);
  }
  &:before{
    @include line();
    bottom: -36px;
    transform: translate(2px, 0);
  }
}

.title{
  position: relative;
  h2,h3{
    text-align: left;
  }
  .lines{
    &:after{
      left: 0;
      bottom: -36px;
      transform: translate(23px, 0);
    }
    &:before{
      left: 0;
      bottom: -36px;
    }
  }
}

.burger{
  display: none;
}
