@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

/*--- Mixin ---*/

@mixin flex-between(){
  display: flex;
  justify-content: space-between;
}

@mixin button(){
  border-radius: 4px;
  display: block;
  width: 160px;
  height: 50px;
  font-size: 14px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Sans Pro";
  text-align: center;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}

@mixin links(){
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

@mixin line(){
  content: '';
  width: 20px;
  height: 2px;
  position: absolute;
  left: 50%;
  background-color: #007bff;
}

/*--- Mixin ---*/

/*---General classes---*/

div,span,a,h1,h2,h3,h4,h5,p,ul,li,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  max-width: 1170px;
  padding: 0;
}

h1{
  margin-top: 20px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
}

h2{
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #008ed6;
  font-weight: 700;
  text-transform: uppercase;
}

h3{
  padding-top: 10px;
  font-size: 36px;
  letter-spacing: normal;
  color: #1a1a1a;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

h4{
  font-size: 24px;
  font-size: 24px;
  line-height: 20px;
  color: #1a1a1a;
  font-weight: 400;
}

p{
  font-size: 18px;
  line-height: 26px;
  color: #999;
  font-weight: 400;
}

.btn-filled{
  @include button();
  filter: drop-shadow(0 0 1.5px rgba(3,3,3,0.1));
  background-color: #008ed6;
  padding-top: 1px;
}

.btn-empty{
  @include button();
  margin-left: 20px;
  background-color: rgba(0,142,214,0);
  border: 1px solid rgba(255,255,255,0.2);
}

.title-center{
  text-align: center;
}

// Підкреслення псевдокласами
.lines{
  &:after{
    @include line();
    bottom: -36px;
    transform: translate(-20px, 0);
  }
  &:before{
    @include line();
    bottom: -36px;
    transform: translate(2px, 0);
  }
}

.title{
  position: relative;
  h2,h3{
    text-align: left;
  }
  .lines{
    &:after{
      left: 0;
      bottom: -36px;
      transform: translate(23px, 0);
    }
    &:before{
      left: 0;
      bottom: -36px;
    }
  }
}



/*---General classes---*/

/*--- HEADER ---*/

.header{
  background-color: #151319;
  height: 640px;
  overflow: hidden;
  background-image: url("../img/photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  .lines{
    &:before{
      bottom: -10px;
    }
    &:after{
      bottom: -10px;
    }
  }
  .descript{
    margin-top: 24px;
    width: 85%
  }
  h1{
    span{

    }

  }
  h2{
    letter-spacing: 0.1em;
  }
}

.top{
  padding: 19px 0;
  @include flex-between();
}

.logo{
  margin-left: 2px;
  margin-top: 3px;
  display: flex;
  justify-content: left;
  align-items: center;
  p{
    margin-left: 8px;
    display: block;
    width: 50px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 9px;
    font-weight: 600;
    letter-spacing: 1.4px;
  }

}

.main-content{
  @include flex-between();
}

.main-navigation{
  display: flex;
  margin-left: 23px;
  li{
    display: block;
    margin-right: 23px;
    a{
      @include links();
      line-height: 58px;
      position: relative;
      &:after{
        visibility: hidden;
      }
      &:before{
        visibility: hidden;
      }
      &:hover{
        text-decoration: none;
        &:after{
          visibility: visible;
        }
        &:before{
          visibility: visible;
        }
      }

    }
  }
}

.left{
  padding-top: 63px;
  padding-left: 15px;
}

.buttons{
  margin-top: 60px;
  display: flex;
}

.phone{
  padding-top: 25px;
  padding-left: 93px;
}

/*---HEADER--*/

/*---SECTION OVERVIEW---*/

.overview{
  padding-top: 62px;
  padding-bottom: 71px;
  border-bottom: 1px solid #ededed;
  h3{
    letter-spacing: 0.1px;
  }
  .lines{
    &:before{
      transform: translate(1px, 0);
    }
    &:after{
      transform: translate(-21px, 0);
    }
  }
  .descript{
    margin-top: 24px;
    width: 85%
  }
}

.list{
  padding-top: 110px;
}

.feature{
  display: flex;
  flex-direction: column;
  .circl-icn{
    margin: 0 auto;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    position: relative;
    img{
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  .descript{
    text-align: center;
    margin: 0 auto;
    padding-top: 33px;
    width:90%;
    p{
      padding-top: 15px;
    }
  }
}

/*---SECTION OVERVIEW---*/

/*---SECTION DETAILS---*/

.details {
  padding-top: 66px;
  padding-bottom: 19px;
  img {
    margin-left: 20px;
  }

  .left {
    padding-top: 50px;
    padding-left: 15px;
  }
  .lines{
    &:before{
      bottom: -27px;
      transform: translate(22px, 0);
    }
    &:after{
      bottom: -27px;
      transform: translate(0, 0);
    }
  }
  .descript{
    padding-top: 51px;
    width:85%;
  }
}

.special{
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #1b1b1b;
  font-weight: 400;
  list-style-position: inside;
  li{
    padding-bottom: 6px;
  }
}
.design{
  list-style-image: url("../img/icons/Cup.svg");
}
.resp{
  list-style-image: url("../img/icons/Mouse.svg");
}
.retina{
  list-style-image: url("../img/icons/Energy.svg");
}
.tons{
  list-style-image: url("../img/icons/Speedometer.svg");
}

/*---SECTION DETAILS---*/

.details-sec{
  padding-top: 66px;
  padding-bottom: 163px;
}
 .resp{
   padding-left: 3px;
   list-style-position: outside;
   margin-left: 22px;
 }

.retina{
  padding-left: 3px;
  list-style-position: outside;
  margin-left: 22px;
}

.forImage{
  position: relative;
  img{
    position: absolute;
    top: -33px;
    right: -4px;
  }
}

/*---SECTION DETAILS-SEC---*/

.details-sec{
  background-color: #f2f2f2;
  .lines{
    &:before{
      bottom: -29px;
      transform: translate(22px, 0);
    }
    &:after{
      bottom: -29px;
      transform: translate(0, 0);
    }
  }
  .descript{
    padding-top: 51px;
    width:85%;
  }
}



/*---SECTION DETAILS-SEC---*/

/*---SECTION PLANS---*/

.plans{
  padding-top: 61px;
  padding-bottom: 61px;
  background-color: #15141a;;
  background-image: url("../img/Warstwa 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  h3,p{
    color: #fff;
  }
  .lines{
    &:before{
      bottom: -30px;
      transform: translate(1px, 0);
    }
    &:after{
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
}

.slider{
  padding-top: 115px;
  overflow: hidden;
}

.slick-track{
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 129px;
  margin-left: 22px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  margin-right: 21px;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 0;
  border-radius: 50%;
}

.slick-active button {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #fff;
}

.slide{
  display: flex;
  flex-direction: column;
}

.descrip-slide{
  padding-left: 12px;
  width:95%;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.3px;
}

.author{
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 15px;
  img{
    margin-top: 13px;
    border-radius: 50%;
  }
  p{
    padding-top: 11px;
    padding-left: 23px;
    font-size: 16px;
    font-weight: 400;
    span{
      display: block;
      font-size: 14px;
      line-height: 26px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
/*---SECTION PLANS---*/

/*---SECTION NOW---*/

.now{
  padding-bottom: 60px;
  background-color: #15141a;
  p{
    padding-top: 52px;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 0.22px;
    span{
      letter-spacing: 0.1px;
      font-weight: 600;
    }
  }
  .row{
    align-items: center;
  }
  .col-8{
    padding-left: 14px;
  }
  .buttons{
    margin-top: 59px;
    padding-left: 25px;
  }
  .btn-empty{
    margin-right: 20px;

  }
}

/*---SECTION NOW---*/

/*---SECTION PLANS-SEC---*/

.plans-sec{
  padding-top: 57px;
  padding-bottom: 60px;
  .lines{
    &:before{
      bottom: -30px;
      transform: translate(1px, 0);
    }
    &:after{
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
  .col-3{
    paddig: 10px;
  }
  .descript{
    padding-top: 45px;
    width: 79%;
    margin: 0 auto;
    span{
      color: #008ed6;
    }
  }
  .btn-empty{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-right: 1px;
    height: 52px;
    border-color: #e0e0e0;
    color: #008ed6;

  }
}

.price{
  padding-top: 100px;
}

.price-item{
  padding: 0;
  padding-bottom: 28px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.type{
  padding-top: 27px;
  padding-bottom: 22px;
  h4{
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.expensive {
  padding-bottom: 32px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.cost{
  padding-top: 48px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.dollar{
  display: block;
  font-size: 28px;
  line-height: 12px;
}
.number{
  padding-right: 6px;
  display: block;
  align-self: center;
  font-size: 60px;
  line-height: 28px;
  color: #1a1a1a;
  font-weight: 600;
}

/*---SECTION PLANS-SEC---*/

/*---SECTION TOUCH---*/

.touch {
  padding-top: 57px;
  padding-bottom: 8px;
  background-color: #ededed;
  .lines {
    &:before {
      bottom: -30px;
      transform: translate(1px, 0);
    }

    &:after {
      bottom: -30px;
      transform: translate(-21px, 0);
    }
  }
  .col-8{
    margin: 0 auto;
  }
}

.contacts{
  padding-top: 89px;
}

.contacts-item{
  img{
    display: block;
    margin: 0 auto 24px auto;
    //padding-bottom: 1px;
  }
  p{
    display: block;
    text-align: center;
    line-height: 26px;
    span{
      display: block;
    }
  }
}

.feedback{
  margin: 0 auto;
  padding-top: 59px;
  padding-left: 66px;
  padding-bottom: 40px;
  position: relative;
  top: 71px;
  display: flex;
  background-color: #15141a;
   .btn-filled{
     margin-top: 1px;
     margin-left: auto;
     border: none;
   }
}

.personal{
  width:300px;
}

.message{
  padding-left: 19px;
  .form-item{
    height: 190px;
  }
}

.form-item{
  margin-bottom: 20px;
  padding: 0 15px;
  width: 300px;
  height: 50px;
  background-color: rgba(0,142,214,0);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

/*---SECTION TOUCH---*/

/*---SECTION MAP---*/
/*---SECTION MAP---*/

/*---FOOTER---*/

.social{
  margin: 0 auto;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  a{
    &:hover{
      text-decoration: none;
    }
  }
  i{
    color: #444348;
    display: block;
    &:hover{
      color: #008dd5;
    }
  }
}

.footer{
  padding-top: 55px;
  background-color: #15141a;
  p{
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 48px;
    color: #444348;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}

/*---FOOTER---*/
